::ng-deep .table > :not(caption) > * > * {
  padding: 0 !important;
}
::ng-deep .ngx-datatable-column {
  display: flex;
  justify-content: space-between;
}

::ng-deep .ngx-datatable-header-cell {
  flex: 1;
}

// Pagination Icons (Left, Skip, Right, Prev) 
::ng-deep .ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-left, 
::ng-deep .ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-skip, 
::ng-deep .ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-right, 
::ng-deep .ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-prev {  
  color: var(--pagination-text-color);
}

// Pagination Links
::ng-deep .ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
  background-color: var(--pagination-link-bg);
  color: var(--pagination-text-color);
}

// Pagination List Items
::ng-deep .ngx-datatable.bootstrap .datatable-footer .datatable-pager .pager li, 
::ng-deep .ngx-datatable.bootstrap .datatable-footer .datatable-pager .pager li a {
  font-weight: bold;
  color: var(--pagination-text-color);
}
 
//  Active Pagination Link 
::ng-deep .ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a,
::ng-deep .ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
   background-color: var(--pagination-link-active-bg);
}

// Hover Effect for Pagination Links
::ng-deep .ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a, 
::ng-deep .ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
  color: var(--pagination-text-color);
}