:host {
    display: block;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

th {
    cursor: pointer;
}

.Sorter {
    width: 100%;
    display: block;
}