<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <input type="text" class="form-control" placeholder="Search..." 
        [(ngModel)]="filterQuery" (ngModelChange)="updateMessages()"/>  
      </div>
    </div>
  </div>
  <div class="row">
    <ngx-datatable 
    class="bootstrap table table-striped table-hover table-responsive-lg ngx-custom-table"
    [rows]="data | search: filterQuery:searchFields"
    [columnMode]="columnMode"
    [headerHeight]="headerHeight"
    [footerHeight]="footerHeight"
    [scrollbarH]="true"
    [rowHeight]="rowHeight"
    [sortType]="sortType"
    [limit]="limit"
    [messages]="messages"
    [sorts]="sorts"
    [enableClearingSortState]="true"
    [reorderable]="false"
    [count]="(data | search: filterQuery:searchFields).length">
    
    <ngx-datatable-column 
      *ngFor="let column of columns" 
      [name]="column.name" 
      [prop]="column.prop" 
      [sortable]="column.sortable"
      [cellTemplate]="column.template"
      [pipe]="column?.pipe!"
      [resizeable]="false"
      [canAutoResize]="true"
      >
      <ng-template *ngIf="column.template" let-row="row" ngx-datatable-cell-template>
        <ng-container *ngTemplateOutlet="column.template; context: { $implicit: row }">
        </ng-container>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="showActions" name="Actions" sortable="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div class="d-flex gap-3">
          <button 
            *ngIf="showViewButton"
            class="btn btn-dark text-white btn-sm" 
            type="button"
            (click)="onView.emit(row)"
            [title]="viewTooltip">
               <svg [cIcon]="icons.cilYen"></svg>
               <span class="ms-2">View</span>
          </button>
          <button 
            *ngIf="showEditButton"
            class="btn btn-primary text-white btn-sm" 
            type="button"
            (click)="onEdit.emit(row)"
            [title]="editTooltip">
             <svg [cIcon]="icons.cilPen"></svg>
             <span class="ms-2">Update</span>
          </button>
          <button 
            *ngIf="showDeleteButton"
            class="btn btn-danger btn-sm text-white d-inline-flex" 
            type="button" 
            (click)="onDelete.emit(row)"
            [title]="deleteTooltip">
               <svg [cIcon]="icons.cilTrash"></svg>
               <span class="ms-2">Delete</span>
          </button>
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
    <!-- Template for the column -->
    <!-- <ng-template #genericTemplate let-row="row" let-column="column">
      <ng-container *ngIf="column?.type" [ngSwitch]="column.type">
        <ng-container *ngSwitchCase="'currency'">
          {{ row[column.prop] | currency:'EUR':'symbol':'1.2-2' }}
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{ row[column.prop] }}
        </ng-container>
      </ng-container>
    </ng-template> -->
  </div>