<div class="container mt-4">
  <h2 class="mb-3">Subscriptions Management</h2>
  <!-- Subscriptions Form -->
  <div class="card mb-3">
    <div class="card-header">
      <h4>Subscription Data</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="subscriptionForm" (ngSubmit)="onSubmit()" class="row">
        <div class="col-md-6 mt-2">
          <label for="name">Name</label>
          <input id="name" class="form-control" formControlName="name" placeholder="Enter subscription name"
            [ngClass]="{'is-invalid': subscriptionForm.get('name')?.invalid && subscriptionForm.get('name')?.touched, 'is-valid': subscriptionForm.get('name')?.valid && subscriptionForm.get('name')?.touched}" />
          <div *ngIf="subscriptionForm.get('name')?.invalid && subscriptionForm.get('name')?.touched"
            class="d-block invalid-feedback">
            Name is required.
          </div>
        </div>
        <div class="col-md-6 mt-2">
          <label for="credits">Credits/Tokens</label>
          <input id="credits" class="form-control" type="number" formControlName="credits"
            placeholder="Enter credits/tokens"
            [ngClass]="{'is-invalid': subscriptionForm.get('credits')?.invalid && subscriptionForm.get('credits')?.touched, 'is-valid': subscriptionForm.get('credits')?.valid && subscriptionForm.get('credits')?.touched}" />
        </div>
        <div class="col-md-6 mt-2">
          <label for="price">Price</label>
          <input id="price" class="form-control" type="number" formControlName="price" placeholder="Enter price"
            [ngClass]="{'is-invalid': subscriptionForm.get('price')?.invalid && subscriptionForm.get('price')?.touched, 'is-valid': subscriptionForm.get('price')?.valid && subscriptionForm.get('price')?.touched}" />
          <div *ngIf="subscriptionForm.get('price')?.invalid && subscriptionForm.get('price')?.touched"
            class="d-block invalid-feedback">
            <ng-container *ngIf="subscriptionForm.get('price')?.errors?.['required']">
              Price is required.
            </ng-container>
            <ng-container *ngIf="subscriptionForm.get('price')?.errors?.['min']">
              Price must be a positive number.
            </ng-container>
          </div>
        </div>
        <div class="col-md-6 mt-2">
          <label for="promoPrice">Promo Price</label>
          <input id="promoPrice" class="form-control" type="number" formControlName="promoPrice"
            placeholder="Enter promo price"
            [ngClass]="{'is-invalid': subscriptionForm.get('promoPrice')?.invalid && subscriptionForm.get('promoPrice')?.touched, 'is-valid': subscriptionForm.get('promoPrice')?.valid && subscriptionForm.get('promoPrice')?.touched}" />
        </div>
        <div class="col-md-6 mt-2">
          <switch-toggle [control]="subscriptionForm.get('unlimited')!" controlName="unlimited"
            label="Unlimited Tokens"></switch-toggle>
        </div>
          
        <div class="col-md-12 mt-2 d-flex justify-content-end">
          <button type="button" class="btn btn-secondary me-2 text-white" (click)="clearForm()">
            <svg [cIcon]="icons.cilActionUndo"></svg>
            Clear
          </button>
          <button type="submit" class="btn btn-success text-white" [disabled]="!subscriptionForm.valid">
            <svg [cIcon]="icons.cilSave"></svg>
            {{ currentSubscriptionUId ? 'Update' : 'Add' }}
          </button>
        </div>
      </form>
    </div>
  </div>
  
  <!-- Subscriptions List -->
  <div class="card">
    <div class="card-header">
      <h2>Existing Subscriptions</h2>
    </div>
    <div class="card-body">
      <datatable [data]="subscriptions" [columns]="columns" [sorts]="[{ prop: 'name', dir: 'asc' }]"
        [showViewButton]="false" (onEdit)="onEdit($event)" (onDelete)="onDeleted($event)"></datatable>
    </div>
  </div>
</div>