<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="signupForm" (ngSubmit)="onSignup()">
              <h1>{{ appName() }}</h1>
              <p class="text-body-secondary">Create your account</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="username" cFormControl placeholder="Username" formControlName="username" />
              </c-input-group>
              <div *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched">
                <small *ngIf="signupForm.get('username')?.hasError('required')">Username is required</small>
                <small *ngIf="signupForm.get('username')?.hasError('minlength')">Username must be at least 3 characters</small>
                <small *ngIf="signupForm.get('username')?.hasError('maxlength')">Username cannot be more than 20 characters</small>
              </div>
              <c-input-group class="mb-3">
                <span cInputGroupText>&#64;</span>
                <input autoComplete="email" cFormControl placeholder="E-mail" formControlName="email" />
              </c-input-group>
              <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
                <small *ngIf="signupForm.get('email')?.hasError('required')">E-mail is required</small>
                <small *ngIf="signupForm.get('email')?.hasError('email')">Please enter a valid e-mail</small>
              </div>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" cFormControl placeholder="Password" type="password" formControlName="password"/>
              </c-input-group>
              <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
                <small *ngIf="signupForm.get('password')?.hasError('required')">Password is required</small>
                <small *ngIf="signupForm.get('password')?.hasError('minlength')">Password must be at least 6 characters</small>
              </div>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" cFormControl placeholder="Repeat password" type="password" formControlName="passwordConfirmation"  />
              </c-input-group>
              <div *ngIf="signupForm.get('passwordConfirmation')?.invalid && signupForm.get('passwordConfirmation')?.touched">
                <small *ngIf="signupForm.get('passwordConfirmation')?.hasError('required')">Password confirmation is required</small>
                <small *ngIf="signupForm.get('passwordConfirmation')?.hasError('minlength')">Password confirmation must be at least 6 characters</small>
                <small *ngIf="signupForm.get('passwordConfirmation')?.hasError('passwordMismatch')">Passwords must match</small>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="acceptTerms" formControlName="acceptTerms" name="acceptTerms" required />
                <label class="form-check-label" for="acceptTerms">
                  I accept the <a [routerLink]="['/terms-of-use']">terms of use</a> and the <a [routerLink]="['/privacy-policy']">privacy policy</a>.
                </label>
                <div *ngIf="signupForm.get('acceptTerms')?.invalid && signupForm.get('acceptTerms')?.touched" class="text-danger">
                  You must accept the terms.
                </div>
              </div>
              <div class="d-grid">
                <button cButton color="success" type="submit" [disabled]="signupForm.invalid" class="text-white">Create Account</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
