<front-header></front-header>
<front-breadcrumb>Pricing Plans</front-breadcrumb>
<main class="pricing-background">
  <h6 class="text-center">You can choose between a <strong>defined number of tokens</strong> or an <strong>unlimited number of tokens</strong>.</h6>
  <c-tabs [activeItemKey]="0" (activeItemKeyChange)="handleActiveItemChange($event)">
    <c-tabs-list variant="underline-border" class="d-flex justify-content-center align-items-center">
      <button cTab [itemKey]="0">
        Tokens
      </button>
      <button cTab [itemKey]="1">
        Unlimited Tokens
      </button>
    </c-tabs-list>
    <c-tabs-content>
      <c-tab-panel [itemKey]="0" class="p-3">
        <section id="pricing" class="pricing-content section-padding">
          <div class="container-fluid">
            <div class="row text-center">
              <div *ngFor="let subscription of limitedSubscriptions()" class="col-lg-4 col-md-6 col-sm-6 col-xs-12 wow fadeInUp subcpription d-flex flex-column" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <ng-container *ngTemplateOutlet="subscriptionTemplate; context: { $implicit: subscription }" class="h-100"></ng-container>
              </div>
            </div>
          </div>
        </section>
      </c-tab-panel>
      <c-tab-panel [itemKey]="1" class="p-3">
        <section id="pricing" class="pricing-content section-padding">
          <div class="container-fluid">
            <div class="row text-center">
              <div *ngFor="let subscription of unlimitedSubscriptions()" class="col-lg-4 col-md-6 col-sm-6 col-xs-12 wow fadeInUp subcpription d-flex flex-column" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <ng-container *ngTemplateOutlet="subscriptionTemplate; context: { $implicit: subscription }" class="h-100"></ng-container>
              </div>
            </div>
          </div>
        </section>
      </c-tab-panel>
    </c-tabs-content>
  </c-tabs>
  <section>
    <div>
      <h3 class="text-center note-text">NOTES</h3>
      <p class="notes">
        {{ appName() }} allows you to <strong>pass your Codingame tests by bypassing the anti-cheat system</strong>.
        You can contact us by E-mail (on this mail : {{ supportMail() }}) to test our extension for free. What's more, if you don't score enough in your test, you'll get a <strong>full refund</strong> in tokens.
        Payments are secured via <strong>Stripe</strong>. If you choose the <strong>unlimited tokens offer</strong>, your current tokens remain intact even after a purchase.
        If you have tokens, or you want a discount because you can't afford it, it's your first job or you're a student, contact us. Account sharing is not prohibited.
      </p>
    </div>
  </section>
</main>
<front-footer></front-footer>


<!-- Define the template -->
<ng-template #subscriptionTemplate let-subscription>
  <div class="pricing_design">
    <div class="single-pricing">
      <div class="price-head">
        <h1><strong>{{ subscription.name }}</strong></h1>
        <h1>
          <span *ngIf="subscription.promoPrice; else normalPrice">
            {{ subscription.promoPrice | currency:'EUR':'symbol':'1.2' }} instead of
            <del> {{ subscription.price | currency:'EUR':'symbol':'1.2' }}</del>
          </span>
        </h1>
        <ng-template #normalPrice>
          <span>{{ subscription.price | currency:'EUR':'symbol':'1.2' }}</span>
        </ng-template>
        <span *ngIf="subscription.credits">1 question = 1 token</span>
      </div>
      <ul>
        <li *ngIf="subscription.credits">
          <b>Credits:</b> {{ subscription.credits }} tokens
        </li>
        <li *ngIf="subscription.unlimited">
          An <b>Unlimited</b> number of tokens with no commitment!
        </li>
        <li>
          <b>Unlimited </b> Support
        </li>
      </ul>
      <div class="pricing-price">

      </div>
      <a (click)="onOrderNowClick(subscription.uid)" class="price_btn">Order Now</a>
    </div>
  </div>
</ng-template>
