<div class="container mt-4">
  <h2 class="mb-3">Settings Management</h2>

  <!-- Setting Form -->
  <div class="card p-3 mb-3">
    <h4>Setting Data</h4>
    <div class="row">
      <div class="col-md-5">
        <input [(ngModel)]="newSetting.key" class="form-control" placeholder="Key" required #keyInput="ngModel"
          [ngClass]="{'is-invalid': keyInput.invalid && keyInput.touched}" />
        <div *ngIf="keyInput.invalid && keyInput.touched" class="d-block invalid-feedback">
          Key is required.
        </div>
      </div>
      <div class="col-md-5">
        <input [(ngModel)]="newSetting.value" class="form-control" placeholder="Value" required #valueInput="ngModel"
          [ngClass]="{'is-invalid': valueInput.invalid && valueInput.touched}" />
        <div *ngIf="valueInput.invalid && valueInput.touched" class="d-block invalid-feedback">
          Value is required.
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-success w-100 text-white" (click)="saveSetting()"
          [disabled]="keyInput.invalid || valueInput.invalid">
          <svg [cIcon]="icons.cilSave"></svg>
          {{ settingUId ? 'Update' : 'Add' }}
        </button>
      </div>
    </div>
  </div>

  <!-- Settings List -->
  <div class="card p-3">
    <div class="card-header">
      <h4>Existing Settings</h4>
    </div>
   <div class="card-body">
    <datatable
      [data]="settings"
      [columns]="columns"
      [sorts]="[{ prop: 'key', dir: 'asc' }]"
      [showViewButton]="false"
      (onEdit)="showUpdateForm($event)"
      (onDelete)="deleteSetting($event)">
    </datatable>
   </div>
  </div>
</div>