<div class="container mt-4">
  <h2 class="mb-3">Settings Management</h2>

  <!-- Setting Form -->
  <div class="card p-3 mb-3">
    <h4>Setting Data</h4>
    <div class="row">
      <div class="col-md-5">
        <input [(ngModel)]="newSetting.key" class="form-control" placeholder="Key" required
        #keyInput="ngModel" [ngClass]="{'is-invalid': keyInput.invalid && keyInput.touched}"/>
        <div *ngIf="keyInput.invalid && keyInput.touched" class="d-block invalid-feedback">
          Key is required.
        </div>
      </div>
      <div class="col-md-5">
        <input [(ngModel)]="newSetting.value" class="form-control" placeholder="Value" required
        #valueInput="ngModel" [ngClass]="{'is-invalid': valueInput.invalid && valueInput.touched}"/>
        <div *ngIf="valueInput.invalid && valueInput.touched" class="d-block invalid-feedback">
          Value is required.
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-success w-100 text-white" (click)="saveSetting()"
        [disabled]="keyInput.invalid || valueInput.invalid">
          <svg [cIcon]="icons.cilSave"></svg>
          {{ settingUId  ? 'Update' : 'Add' }}
        </button>
      </div>
    </div>
  </div>

  <!-- Settings List -->
  <div class="card p-3">
    <h4>Existing Settings</h4>
    <table class="table table-bordered table-striped table-responsive">
      <thead class="thead-dark">
        <tr>
          <th>Key</th>
          <th>Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let setting of settings">
          <td>{{ setting.key }}</td>
          <td>{{ setting.value }}</td>
          <td>
            <button class="btn btn-primary btn-sm me-2 text-white" (click)="showUpdateForm(setting)">
              <svg [cIcon]="icons.cilPen"></svg> Update
            </button>
            <button class="btn btn-danger btn-sm text-white" (click)="deleteSetting(setting.uid)">
              <svg [cIcon]="icons.cilTrash"></svg> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
