/* You can add global styles to this file, and also import other style files */

// Import styles with default layout.
@use "@coreui/coreui/scss/coreui" as * with (
  $enable-deprecation-messages: false
);

// Import Chart.js custom tooltips styles
@use "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@use "theme";

// Some temp fixes
//@use "fixes";

// If you want to add custom CSS you can put it here.
@use "custom";

// Examples
// We use those styles to show code examples, you should remove them in your application.
@use "examples";

// regular style toast
@use 'ngx-toastr/toastr';


:root {
  --primary-color: #5856d6;
  --btn-hover-color: #5856d6;
   /* Pagination on datatable */
  --pagination-link-bg: #e0e0e0;
  --pagination-link-active-bg: #70a1ff;
  --pagination-text-color: #000;
}

// Dark theme
[data-theme="dark"] {
  --primary-color: #5856d6;
  --btn-hover-color: #5856d6;
   /* Pagination on datatable */
  --pagination-link-bg: #444444;
  --pagination-link-active-bg: #666666;
  --pagination-text-color: #ffffff;
}

